<div class="sections">
  <section class="section--header">
    <div class="section__banner">
      <div class="section__bg">
        <div class="bg"></div>
      </div>
      <div class="section__grad"></div>
      <div class="section__wrap section__wrap--category">
        <div class="section__content">
          <div class="section__body">
            <h1 class="h2 section__title">Editar Perfil</h1>
            <p class="section__description">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section--panel">
    <div class="section__wrap">
      <div class="section__body">
        <%= render 'form', user: @user, editing: true %>
      </div>
    </div>
  </section>
</div>
