<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <%= image_pack_tag("media/img/ecoprint_logo.jpg") %>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Informacion</a></li>
        <li><a class="nav-link scrollto" href="#services">Caracteristicas</a></li>
        <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        <li><%= link_to "Ver Tienda", market_products_path, class: "getstarted scrollto" %></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Inicio ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Ecoprint ropa diseñada con extractos y estampados de hojas naturales</h1>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <%= link_to market_products_path, class: "btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" do %>
              <span>Ver Tienda</span>
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Inicio -->

<main id="main">
  <!-- ======= Informacion ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h2>¿Cuáles son los inicios de Ecoprint Veronica?</h2>
            <p>
            Parte en el año 2019 gracias a un taller de ecoprint verónica emprendió creando estampado en productos pequeños como accesorios para luego seguir con ropa reciclada de grandes tiendas (fast fashion) que se comercializan en principalmente en ferias del país.
            </p>
            <div class="text-center text-lg-start">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End Informacion -->

  <!-- ======= Procesos Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Proceso De Ecoprint</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/values-1.png" class="img-fluid" alt="">
            <h3>Recoleccion De Hojas</h3>
            <p>En esta etapa se recolectan diferentes tipos de hojas para la elaboracion de las diferentes prendas y accesorios que se interveniran  </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/values-2.png" class="img-fluid" alt="">
            <h3>Plasmado</h3>
            <p>En esta etapa las hojas se remojan en agua para despues colocarlas sobre el textil y luego de amarrar las prendas se pone a hervir el accesorio o prenda hasta que las hojas comienzen a soltar sus pigmentos</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Reposo</h3>
            <p>una vez hervido el textil junto a las hojas se deja reposar durante 24 hrs, y una vez seco el producto se pueden ver los difernetes pigmentos plasmados en la prenda o accesorio</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Procesos Section -->

  <!-- ======= Caracteristicas Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Caracteristicas</h2>
        <p>Diferentes caracteristicas que hacen que ecoprint sea amigable con el medio ambiente</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box green"> 
            <i class="ri-discuss-line icon"></i>
            <h3>Reciclaje de ropa</h3>

          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Impresion que no contamina</h3>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Uso de textiles nobles</h3>
   
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Caracteristicas Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Equipo</h2>
        <p>Espacio circular</p>
        <br />
        <h2>Formamos parte de un grupo de varias pymes, todas enfocadas en temas sustentables, de reciclaje, recuperación, reutilización de prendas y Economía Circular. Es un Espacio de colaboración, creatividad y en donde podrás encontrar todo lo que estás buscando, en un sólo lugar. Aparte ofrecemos un espacio acogedor y de conversación, para que puedas pasar un momento agradable junto a todo el equipo.</h2>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-info">
              <h4>@ecoprintveronica</h4>
              <p>Ropa reciclada e intervenida con proceso de ecoprint.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-info">
              <h4>@ekun.re</h4>
              <p>venta e intercambio de ropa reciclada.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-info">
              <h4>@amuleto.mariateresayunis</h4>
              <p> Venta de ropa, accesorios, y amuletos reciclados.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-info">
              <h4>@hilachasyharapos</h4>
              <p>Venta de ropa urbana intervenida.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Contacto</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <p>Casa taller,<br>madreselvas, 4415 Macul</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Telefono</h3>
                <p>+56979183348</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>verolivero70@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Horario</h3>
                <p>Lunes - Viernes<br>9:00AM - 05:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Nombre" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Correo Electronico" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Asunto" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Cargando...</div>
                <div class="error-message"></div>
                <div class="sent-message">tu mensaje ha sido enviado</div>

                <button type="submit">Enviar mensaje</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->