<h1>Editar <%= @model.to_s.pluralize %></h1>

<%= render "form", entity: @entity, new_record: false%>

<br>

<div>
  <%= link_to @model.to_s.pluralize, maintainers_path(entity_class: params[:entity_class]), class: "btn btn-primary" %>
</div>